<!-- Our Work Section -->
<div id="hackreactor-index">
<div id="work" class="page">
  <div class="container">
      <!-- Title Page -->
        <div class="row">
            <div class="span12">
                <div class="title-page">
                    <h2 class="title">Web applications built by our Students</h2>
                    <!-- <h3 class="title-description">Web app made by our students.</h3> -->

<!--
                  <div class="page-description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sed ligula odio. Sed id metus felis. Ut pretium nisl non justo condimentum id tincidunt nunc faucibus.
                    Ut neque eros, pulvinar eu blandit quis, lacinia nec ipsum. Etiam vel orci ipsum. Sed eget velit ipsum. Duis in tortor scelerisque felis mattis imperdiet. Donec at libero tellus.
                    <a href="#">Suspendisse consectetur</a> consectetur bibendum. Pellentesque posuere, ligula volutpat elementum interdum, diam arcu elementum ipsum, vel ultricies est mauris ut nisi.</p>
                  </div>
 -->
                </div>
            </div>
        </div>
        <!-- End Title Page -->
        <div id="hackreactor-websites">
          <%= render 'partials/websites' %>
        </div>
        <!-- End Portfolio Projects -->
    </div>
</div>
</div>
<!-- End Our Work Section -->

<!-- Services Section
%= render 'partials/services' %>
 End Services Section -->

 <!-- Contact Section -->
<%= render 'partials/add_website' %>
 <!-- End Contact Section -->

