<div id="contact" class="page">
<div class="container">
    <!-- Title Page -->
    <div class="row">
        <div class="span12">
            <div class="title-page">
                <h2 class="title">Add your Website</h2>
                <h3 class="title-description">Once you hack you can never go back.</h3>

                <div class="page-description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sed ligula odio. Sed id metus felis. Ut pretium nisl non justo condimentum id tincidunt nunc faucibus.
                    Ut neque eros, pulvinar eu blandit quis, lacinia nec ipsum. Etiam vel orci ipsum. Sed eget velit ipsum. Duis in tortor scelerisque felis mattis imperdiet. Donec at libero tellus.
                    <a href="#">Suspendisse consectetur</a> consectetur bibendum. Pellentesque posuere, ligula volutpat elementum interdum, diam arcu elementum ipsum, vel ultricies est mauris ut nisi.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- End Title Page -->

    <!-- Contact Form -->
    <div class="row">
      <div class="span9">
          <form id="contact-form" class="contact-form" action="/api/messages" method="post">
              <p class="contact-name">
                <input id="contact_name" type="text" placeholder="Website" value="" name="url" />
                </p>
                <p class="contact-email">
                  <input id="contact_email" type="text" placeholder="Team Members" value="" name="team" />
                </p>
                <p class="contact-message">
                  <textarea id="contact_message" placeholder="Description" name="content" rows="15" cols="40"></textarea>
                </p>
                <p class="contact-submit">
                  <input type="submit" id="contact-submit" class="submit" value="Submit">
                </p>

                <div id="response">

                </div>
            </form>

        </div>

        <div class="span3">
          <div class="contact-details">
            <h3>Contact Details</h3>
                <ul>
                    <li><a href="#">hello@hackreactor.com</a></li>
                    <li>(555) 555.5555</li>
                    <li>
                        Hack Reactor
                        <br>
                        Market Street
                        <br>
                        San Francisco
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End Services Form -->
</div>
</div>
