<!-- Footer -->
<footer style="padding:10px;">
  &copy; 2013, Hack Reactor, LLC. All rights reserved.
</footer>
<!-- End Footer -->

<!-- Back To Top -->
<a id="back-to-top" href="#">
  <i class="font-icon-arrow-simple-up"></i>
</a>
<!-- End Back to Top -->
