<header>
  <div class="sticky-nav">
    <a id="mobile-nav" class="menu-nav" href="#menu-nav"></a>
      <div id="logo">
        <a href="http://hackreactor.com/" title="Hack Reactor" target="_blank">Hack Reactor</a>
      </div>
      <nav id="menu">
        <ul id="menu-nav">
          <li class="current"><a href="#home-slider">Home</a></li>
          <li><a href="#work">Websites</a></li>
        </ul>
      </nav>
  </div>
</header>
