<%= render 'layouts/splash' %>

<div id="home-slider">
    <div class="overlay"></div>
  <div class="container">
    <img style="margin-left:-300px;width:140%" src="http://hackreactor.com/wp-content/themes/ViewPoint/images/intro-bg.jpg">
      <div class="row">
          <div class="span12">
                <div class="slider-text" style="margin-top:-500px;">
                    <%= link_to(image_tag('../assets/hackreactor_light.png', style: 'height:20%;width:20%;margin-bottom:18px;'), '#work', id: 'hackreactor-logo')%>
                    <div id="slidecaption">Hack Reactor</div>
                </div>
            </div>
        </div>
    </div>

  <div class="control-nav">
        <!--<a id="prevslide" class="load-item"><i class="font-icon-arrow-simple-left"></i></a>
        <a id="nextslide" class="load-item"><i class="font-icon-arrow-simple-right"></i></a>
         <ul id="slide-list"></ul> -->

        <a id="nextsection" href="#work"><i class="font-icon-arrow-simple-down" style="font-size:40px;margin-left:-22px;margin-top:-22px;"></i></a>
    </div>
</div>
