<!-- This section is for Splash Screen -->
<div class="ole">
<section id="jSplash">
  <!-- <h1 style="margin-left:100px;margin-top:-20px;">Hack Reactor</h1> -->
  <div id="circle">
    <%= link_to(image_tag('../assets/hackreactor_light.png', style: 'height:100%;width:100%'), '#work')%>
  </div>
</section>
</div>
<!-- End of Splash Screen -->
