<!DOCTYPE html>
<html>
<head>
  <title>Made at Hackreactor</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
  <%= javascript_include_tag "application" %>
</html>
